@font-face{
    font-family: 'Dosis';
    src: url(../fonts/static/Dosis-Bold.ttf);
    font-weight: 600;
}
@font-face{
    font-family: 'Dosis';
    src: url(../fonts/static/Dosis-ExtraBold.ttf);
    font-weight:bold ;
}
@font-face{
    font-family: 'Dosis';
    src: url(../fonts/static/Dosis-Light.ttf);
    font-weight:300 ;
}
@font-face{
    font-family: 'Dosis';
    src: url(../fonts/static/Dosis-Medium.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Dosis';
    src: url(../fonts/static/Dosis-Regular.ttf);
    font-weight:normal ;
}
@font-face{
    font-family: 'Dosis';
    src: url(../fonts/static/Dosis-SemiBold.ttf);
    font-weight:200 ;
}